body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	min-height: 98vh;
	/* flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background: linear-gradient(#2598CE, #28306A);
  font-family: 'Lato', sans-serif;
  color: white;
     }

main {
	/* flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	flex-grow: 1;
	align-self: stretch;
}

div.upperPart{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
span#time{
  font-size: 35px;
}

#date{
  font-size: 20px;
}

#todayWeather img{
  align: middle;
}

div#header{
  display: flex;
  flex-direction: row;
}

.searchBox{
  margin-left: auto;
}

input{
  height: 20px;
  width: 120px;
  border-radius: 20px;
  margin-bottom: 3px;
  border: none;
  font-size: 14px;
  background-color: #C1D8EE;
}

button#summit{
  float: right;
  border-radius: 10px;
  width: 60px;
  background-color: #00B9F1;
  border: none;
}

div#todayWeather{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainSta{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#location{
  font-size: 30px;
}

#tempNow{
  font-size: 70px;
}


#range {
	margin: 10px;
	padding: 10px;
  border: none;
  overflow: hidden;   /* let stepper disappear off end */
	/* flexbox */
	display: flex;
	flex-direction: row;
	align-self: stretch;  /* fat as window! */
}

.stepper {
  margin-left: 5px;
  margin-right: 5px;
	/* flexbox */
	display: flex;
	position: relative;  /* allow offsets from where flexbox put it */
	/* horizontal position will be controlled by Javascript */
  flex-shrink: 0;
  justify-content: space-around;
  /*transition-duration: 1s;*/
  /*border-radius: 10px;*/
}

.forecast {
	/*margin: 10px;*/
	color: white;
  width: 100%;
	/* flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
  text-align: center;
  background-color: #2B87BD;
  border-radius: 20px;

}

div#forMobile{
  display:none;
}

div#arrows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

button#rightArrow{
  background-color: Transparent;
  border: none;
  background-image: url("../WeatherApp/arrow-right.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  /*margin-right: auto;*/
}

#leftArrow{
  background-color: Transparent;
  border: none;
  background-image: url("../WeatherApp/arrow-left.png");
  width: 40px;
  height: 40px;
  background-size: cover;
}

.leftRight{
  text-align: center;
}

#weaImgToday{
  max-width: 300px;
  max-height: 200px;
}

img{
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 150px;
}



/*for mobile size */
@media (max-width: 500px){

  span#date,#weaImgToday,button#summit {
    display: none;
  }

  #tempNow,#todayText,p#otherSta{
    display: none;
  }

  div#arrows{
    display: none;
  }

  .forecast{
    display: none;
  }

  .searchBox{
    display: none;
  }

  div#forMobile{
    display: block;
  }


    div#forMobile{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

  div#forMobile img{
    width: auto;
    height: auto;
  }

  div#showOnMobile{
    display: block;
    margin-left: 300px;
    width: 600px;

  }
}
